<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/public/stylesheets/login.css">


</head>

<body>
  <div class="container">
    <h1>
      <span>Video Store</span>


    </h1>
    <hr />
    
    <form class="form-signin">
      <input type="text" class="form-control" name="Username" placeholder="Username"   required />
      <input type="password" class="form-control" name="Password" placeholder="Password" required />

      <a href="/#/admin"><button class="btn btn-primary">Login</button></a>
    </form>
  </div>
  

</body>

</html>