<h1>Add a Video</h1>

<form>
    <div class="form-group">
        <div class="form-group">
            <label>Title</label>		
            <input class="form-control" ng-model="video.title"></input>
        </div>
        <div class="form-group">
            <label>Running Time</label>
            <textarea class="form-control" ng-model="video.running_time"></textarea>
        </div>

        <div class="form-group">
            <label>Genre</label>
            <textarea class="form-control" ng-model="video.Genre"></textarea>
        </div>

        <div class="form-group">
            <label>Rating</label>
            <textarea class="form-control" ng-model="video.Rating"></textarea>
        </div>

        <div class="form-group">
            <label>Director</label>
            <textarea class="form-control" ng-model="video.Director"></textarea>
        </div>

        <div class="form-group">
            <label>Status</label>
            <textarea class="form-control" ng-model="video.Status"></textarea>
        </div>
</div>

        <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>
    </form>
    